<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <title> Not Found </title>
</head>

<body>

<div class="container ">

    <br/>
    <h3>Employee Directory</h3>
    <hr/>

    <br/>
    <br/>

    <h2 class="text-center  p-3 mb-2 bg-warning text-black">Employee not found</h2>

    <br/>
    <br/>
    <br/>
    <a th:href="@{/employees}">Back to Employees List</a>


</div>
</body>

</html>
